extends layout

block content
	h1 Existing Tags

	#tags
		ul.list-unstyled
			each courseWithTags in courses
				li
					h2 #{courseWithTags.course.code}						
					ul.list-unstyled
						each taglinkWithCount in courseWithTags.TagLinks
							li
								ul.list-inline.unstyled
									li
										a(href='/tag/destroy/#{taglinkWithCount.TagLink.Tag.id}').btn.btn-danger.btn-xs
											span.glyphicon.glyphicon-remove
										|  
										a(href='/tag/#{taglinkWithCount.TagLink.Tag.slug}').btn.btn-primary.btn-xs
											span=taglinkWithCount.TagLink.Tag.title
										span=taglinkWithCount.count