extends layout

block content
	h1 Existing Tags

	#tags
		ul.list-unstyled
			each courseWithTags in courses
				li
					h2 #{courseWithTags.course.code}						
					ul.list-unstyled
						each taglinkWithCount in courseWithTags.TagLinks
							li
								ul.list-inline.unstyled
									li
										a(href='/tag/destroy/#{taglinkWithCount.taglink.Tag.id}').btn.btn-danger.btn-xs
											span.glyphicon.glyphicon-remove
										span.count.btn.btn-default.disabled.btn-xs=taglinkWithCount.count
										a(href='/tag/#{taglinkWithCount.taglink.Tag.slug}').btn.btn-primary.btn-xs
											span=taglinkWithCount.taglink.Tag.title
										