extends layout

block content
	h1=course.code

	a(href='/random/#{course.id}/problem/') Random problem from this exam
	br
	each exam in course.Exams
		a(href='/exam/#{exam.id}') 
			h2 #{exam.code}
		ul.list-unstyled
			each problem in exam.Problems				
				li
					a(href='/problem/#{course.id}/#{exam.id}/#{problem.id}') #{problem.id}
				ul.list-inline
					each taglink in problem.TagLinks
						if (taglink.Tag)
							li(style='padding-left:1em;') 
								a(href='/tag/#{taglink.Tag.slug}')=taglink.Tag.title


