extends layout

block content
	h1=course.code
	h2=exam.code
	a(href='/random/#{course.id}/problem/') Random problem
	h3 Tags
	#tags
		ul.list-inline
			each taglink in problem.TagLinks
				li
					a(href='/tag/remove/#{taglink.id}').btn.btn-xs.btn-danger
						span.glyphicon.glyphicon-remove
					a(href='/tag/#{taglink.Tag.slug}').btn.btn-xs.btn-primary=taglink.Tag.title
					
	include addTag
	hr
	h3 Question
	img(src='/'+problem.Question.filename)#question
	h3 Answer
	//- img(src='/'+problem.Answer.filename)#answer